@{
    ViewBag.Title = "Contact";
}

<body>
    <div style="background-color:white;width:70%;height:100%;margin-left:15%">
        <h2>CEO (Bcsf12m044@pucit.edu.pk)</h2>
        <table>
            <tr>
                <td>
                    1590s, "short non-fiction literary composition" (first attested in writings of Francis Bacon, probably in imitation of Montaigne), from Middle French essai "trial, attempt, essay," from Late Latin exagium "a weighing, weight," from Latin exigere "test," from ex- "out" (see ex- ) + agere (see act ) apparently meaning here "to weigh." The suggestion is of unpolished writing.

                    v.
                    "to put to proof, test the mettle of," late 15c., from Middle French essaier, from essai (see essay (n.)). This sense has mostly gone with the divergent spelling assay. Meaning "to attempt" is from 1640s. Related: Essayed ; essaying.

                    Online Etymology Dictionary, © 2010 Douglas Harper
                    Cite This Source
                    essay in Culture Expand
                    essay definition

                    A short piece of writing on one subject, usually presenting the author's own views. Michel de Montaigne, Francis Bacon, and Ralph Waldo Emerson are celebrated for their essays.

                    The American Heritage® New Dictionary of Cultural Literacy, Third Edition
                    Copyright © 2005 by Houghton Mifflin Company.
                    Published by Houghton Mifflin Company. All rights reserved.
                    Cite This Source
                </td>
                <td><img src="~/images/sharjeel.jpg" style="width:200px;height:300px;margin-top:30px" /></td>
            </tr>

            <tr>
                <td>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </address>
                </td>
            </tr>


            <tr>
                <td>
                    <h2>Chief Editor (Bcsf12m043@pucit.edu.pk)</h2>
                    1590s, "short non-fiction literary composition" (first attested in writings of Francis Bacon, probably in imitation of Montaigne), from Middle French essai "trial, attempt, essay," from Late Latin exagium "a weighing, weight," from Latin exigere "test," from ex- "out" (see ex- ) + agere (see act ) apparently meaning here "to weigh." The suggestion is of unpolished writing.

                    v.
                    "to put to proof, test the mettle of," late 15c., from Middle French essaier, from essai (see essay (n.)). This sense has mostly gone with the divergent spelling assay. Meaning "to attempt" is from 1640s. Related: Essayed ; essaying.

                    Online Etymology Dictionary, © 2010 Douglas Harper
                    Cite This Source
                    essay in Culture Expand
                    essay definition

                    A short piece of writing on one subject, usually presenting the author's own views. Michel de Montaigne, Francis Bacon, and Ralph Waldo Emerson are celebrated for their essays.

                    The American Heritage® New Dictionary of Cultural Literacy, Third Edition
                    Copyright © 2005 by Houghton Mifflin Company.
                    Published by Houghton Mifflin Company. All rights reserved.
                    Cite This Source
                </td>
                <td><img src="~/images/hamid.jpg" style="width: 200px; height: 300px;margin-top:100px" /></td>
            </tr>

            <tr>
                <td>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </address>
                </td>
            </tr>


            <tr>
                <td>
                    <h2>CSenior Devoloper (Bcsf12m035@pucit.edu.pk)</h2>
                    1590s, "short non-fiction literary composition" (first attested in writings of Francis Bacon, probably in imitation of Montaigne), from Middle French essai "trial, attempt, essay," from Late Latin exagium "a weighing, weight," from Latin exigere "test," from ex- "out" (see ex- ) + agere (see act ) apparently meaning here "to weigh." The suggestion is of unpolished writing.

                    v.
                    "to put to proof, test the mettle of," late 15c., from Middle French essaier, from essai (see essay (n.)). This sense has mostly gone with the divergent spelling assay. Meaning "to attempt" is from 1640s. Related: Essayed ; essaying.

                    Online Etymology Dictionary, © 2010 Douglas Harper
                    Cite This Source
                    essay in Culture Expand
                    essay definition

                    A short piece of writing on one subject, usually presenting the author's own views. Michel de Montaigne, Francis Bacon, and Ralph Waldo Emerson are celebrated for their essays.

                    The American Heritage® New Dictionary of Cultural Literacy, Third Edition
                    Copyright © 2005 by Houghton Mifflin Company.
                    Published by Houghton Mifflin Company. All rights reserved.
                    Cite This Source
                </td>
                <td><img src="~/images/awais.jpg" style="width: 200px; height: 300px; margin-top: 100px" /></td>
            </tr>


            <tr><td>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</td>
            </tr>
        </table>
    </div>
</body>