
@{
    ViewBag.Title = "Register";
}

<body  >
<div style=" border:ridge;border-color:lightgoldenrodyellow;border-width:1px;width:700px;height:540px;border-radius:10px;margin-left:50px;margin-top:30px">
    <form>
        <label style="font-size:30px;margin-left:30px;margin-left:280px">Register</label><br />
        <label style="margin:50px 5px 0 0;width:120px;margin-left:30px">First Name</label><input type="text" style="border-radius:10px" />
        <label style=" margin: 50px 5px 0 0; width: 120px; margin-left: 15px">Last Name</label><input type="text" style="margin: 50px 5px 0 0; border-radius: 10px" /><br>
        <label style=" margin: 50px 5px 0 0; width: 120px; margin-left: 30px">User Name</label><input type="text" style="border-radius: 10px" />
        <label style=" margin: 50px 5px 0 0; width: 120px; margin-left: 15px">Password</label><input type="text" style="margin: 50px 5px 0 0; border-radius: 10px" /><br>
        <label style=" margin: 50px 5px 0 0; width: 120px; margin-left: 30px">Phone Number</label><input type="text" style="border-radius: 10px" />
        <label style=" margin: 50px 5px 0 0; width: 120px; margin-left: 15px">Email Address</label><input type="text" style="margin: 50px 5px 0 0; border-radius: 10px" /><br>
        <label style=" margin: 50px 5px 0 0; width: 120px; margin-left: 30px">Profession</label><input type="text" style="border-radius: 10px" />
        <label style=" margin: 50px 5px 0 0; width: 120px; margin-left: 15px">Address</label><input type="text" style="margin: 50px 5px 0 0; border-radius: 10px" /><br>
        <input type="checkbox" style="margin-left:30px;" />
        <label style=" margin: 80px 5px 0 0; ">I Agree to The Terms and Conditions</label><br>
        <input type="submit" style="color: black; margin-left: 300px; margin-top: 30px; width: 100px; height: 40px; border-radius: 10px; background-color: white" />
    </form>
    </div>
</body>