
@{
    ViewBag.Title = "signin";
}
<body>
<div>
    <table><tr><td>
<div style=" border: ridge; border-radius: 10px; border-width: 1px; border-color: lightgoldenrodyellow; width: 350px; height: 500px; margin-left: 50px; margin-top: 30px">
    <h1 style="color:black;margin-left:120px">Login</h1>
    <hr><br /><br /><br />
    <form>
        <label style="margin-left:20px">Username </label>
    <input type="text" placeholder="Username" style="margin-left:30px;border-radius:5px"/><hr />
        <label style="margin-left:20px;margin-top:30px">Password </label>
        <input type="password" placeholder="Password" style="margin-left:30px;border-radius:5px" /><hr />
    <a class="btn btn-primary" style="margin-left:120px;margin-top:30px;width:80px;height:30px" >Login</a><br><br><br><br>
        <a style="margin-left:100px;margin-top:100px"><p>Forget Password?</p></a>
    </form>
</div>
        </td>
        <td></td>
    </tr></table>
    </div>
    </body>
